<%= render('layouts/errors') %>

<%= form_for(@event) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <p>2015-09-05 07:02"</p>
  <%= f.label :time %>
  <%= f.text_field :time %><br>
  <%= f.label :place %>
  <%= f.text_field :place %>
  <%= f.submit %>
<% end %> 