<h3><%= @event.name %></h3>
<h3><%= @event.time %></h3>
<h3><%= @event.place %></h3>

<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Delete", event_path(@event), :data => {:confirm => "You sure?",
                                   :method => "delete"} %>



