<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="row">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><%= link_to "Home", root_path %>/</li>
        <li><%= link_to "New", new_event_path %></li>
      </ul>
    </div>
  
  <%= yield %>
</div>
</body>
</html>
